* {
    box-sizing: border-box;
    font-family: 'Sigmar One', cursive;
}

canvas {
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
}

body {
    background-size:cover;
}

.directions {
    text-align: center;
    margin-bottom: 10px;
}

#shots {
    text-align: center;
}